__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

venv/
env/
ENV/
.venv/
.anaconda/
conda/

*.log
flask_session/

.env
.env.*
*.env

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
.cache/
.vite/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
